.stellite-darker-background {
  background-color: #11141b !important;
}
.stellite-lighter-background {
  background-color: #151b29 !important;
}
.stellite-bright-text-background {
  background-color: #daddff !important;
}
.stellite-simple-blue-background {
  background-color: #004ee1 !important;
}
.stellite-main-color-background {
  background-color: #ff1468 !important;
}
.stellite-main-color-text {
  color: #ff1468;
}

a {
  text-decoration: none;
  color:#fff!important;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color:#e5e5e5!important;
}

 html {
   position: relative;
   min-height: 100%;
 }

 body {
   margin-bottom: 60px;
   font-family: GillSans, Calibri, Trebuchet, sans-serif!important;
   background-color: #11141b;
   color:#fff;
 }
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 65px;
   background-color: #151b29;
 }
.text-muted {
   margin: 20px 0;
   color:#daddff!important;
 }

.bg-dark{background-color:#151b29!important}a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover{background-color:#1d2124!important}

 .navbar-dark .navbar-nav .nav-link {
     color: #e5e5e5;
     margin-left:5px;
     font-weight: normal;
 }

a.nav-over:hover {
  text-decoration: none;
  color:#e5e5e5!important;
}

a:hover {
  text-decoration: none;
}

 .body-load{
   width: 100%;
   margin: 0 auto;
   margin-top: 2%;
   text-align:center;
 }
 .set-inputs-login-width {
   width: 250px!important;
   margin: 0 auto;
 }
 .set-input-2FA-code-width {
   width: 150px!important;
   margin: 0 auto;
 }
 .set-alerts {
   margin-bottom:15px;
 }
 .set-margin-auto{
   margin: 0 auto;
 }
 .starthidden {
  display: none;
}
.no-background-color{
  background-color: none!important;
}
.list-group-item-stellite{
  color:#004085;background-color:#11141b;border-color:#232c43;
}
hr{
  border-color:#232c43;
}
